body
{
    background-color: cadetblue;
}

h1{
    text-align: center;
}
#home{
    text-align:center;
    width: 25%;
    height:100%;
    float: left;
}
img {
    height: 350px;
    width: 350px;
    margin: 5%;
    object-fit: contain;
}